.desc h2 {
    font-size: 65px;
    padding-top: 60px;
}
.desc {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 100%); 
    color: white;
    height: 450px;
}
.desc p {
    font-size: 35px;
    padding-top: 60px;
}