---
import Desc from "../components/Desc.astro"
import AboutMe from "../components/AboutMe.astro"
import Posts from "../components/Posts.astro"
import "../styles/global.css"
import Footer from "../components/Footer.astro"
---
<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <Desc></Desc>
    <AboutMe></AboutMe>
    <Posts></Posts>
    <Footer></Footer>
  </body>
</html>