---
import Desc from "../components/Desc.astro"
import AboutMe from "../components/AboutMe.astro"
import Posts from "../components/Posts.astro"
import "../styles/global.css"
import Footer from "../components/Footer.astro"
const imagePath = "../assets/og.webp";
---
<html lang="en">
  <head>
    <title>Ali moumen - Blog</title>
    <meta name="title" content="Ali moumen - Blog">
    <meta name="description" content="My blog where I post about all I do and learn">
    <meta name="keywords" content="alimoumen,  ali blog">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta property="og:image" content={imagePath}>
  </head>
  <body>
    <Desc></Desc>
    <AboutMe></AboutMe>
    <Posts></Posts>
    <Footer></Footer>
  </body>
</html>