---
import styles from "./CSS/AboutMe.module.css"
---

<div class={styles.aboutme}>
    <h2>A breif about me...</h2>
    <p>
        My name is Mohammed Ali Moumen,  I'm 16 year old (turning 17 this month) and <br>
        I have a lot of hobbies and domains of interest to share,  I've made this blog so I can be able to share 
        everything I have.
    </p>
</div>