---
import styles from "./CSS/Desc.module.css"
---

<div class={styles.desc }>
    <center>
        <h2>Ali moumen</h2>
        <p>
            A 17 year old moroccan who likes about <br>
            anything!
        </p>
    </center>
</div>
